body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px,293px));
    justify-content: center;
    grid-gap: 1em;
}

.post{
    cursor: pointer;
    display: block;
    position: relative;
    justify-self: center;
}

.post-image{
    margin: 0; /*Quitar el margen de figure*/
}.post-image img {
    width: 100%; /*Tomar el mismo tamaño de su contenedor*/
    vertical-align: top; /**/
}
.post-overlay{
    background: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    /*Separacion entre indicadores de likes y comentarios*/
    justify-content: space-evenly;
    align-content: center;
}

.post:hover .post-overlay{
    display: flex;
}

.post-likes, .post-comments {
    font-weight: bold;
}

/*Navbar*/

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: center;
    margin: 3em;
}

div ul li {
    display: inline-block;
    list-style: none;

}

.box-search {
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #dbdbdb 1px;
}

.box-search input{
    padding: 0.5em;
    border: none;
    background: #fafafa;
}

.box-search span{
    padding: 0.5em;
    border: none;
}

.list-fav {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Media Query*/

@media only screen and (max-width: 768px) {
    .post-list{
        grid-gap: 0.4em;
    }
}